<footer
    class="container-fluid text-dark p-4"
    style="background-color: #ffb2c0"
    >
    <div class="row text-sm-center">
        <div class="col-12 col-sm-12 col-md-4">
        <h3>Contactanos</h3>
        <a href="#" class="d-inline-block link-light">
            <iconify-icon
            icon="ant-design:phone-twotone"
            style="color: #3e3636"
            width="35"
            ></iconify-icon>
            <p class="d-inline-block text-dark">11 4567-4563</p>
        </a>
        <br />
        <a href="#" class="d-inline-block link-light">
            <iconify-icon
            icon="bxl:gmail"
            style="color: #3e3636"
            width="35"
            ></iconify-icon>
            <p class="d-inline-block text-dark">dulcesanrio@gmail.com</p>
        </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
        <h3>Dulces Sanrio</h3>
        <hr />
        <iconify-icon
            icon="akar-icons:facebook-fill"
            style="color: #3e3636"
            width="35"
        ></iconify-icon>
        <iconify-icon
            icon="akar-icons:instagram-fill"
            style="color: #3e3636"
            width="35"
        ></iconify-icon>
        <iconify-icon
            icon="dashicons:whatsapp"
            style="color: #3e3636"
            width="35"
        ></iconify-icon>
        <iconify-icon
            icon="fa6-brands:tiktok"
            style="color: #3e3636"
            width="35"
        ></iconify-icon>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
        <h3>Metodos de pago</h3>
        <iconify-icon
            icon="arcticons:mercado-pago"
            style="color: #3e3636"
            width="60"
        ></iconify-icon>
        <iconify-icon
            icon="bi:cash-coin"
            style="color: #3e3636"
            width="45"
        ></iconify-icon>
        <br />
        <span>Mercado pago o efectivo</span>
        </div>
    </div>
</footer>
<div
class="linea"
style="height: 60px; border-top: 2px solid white; padding-top: 15px"
>
<div class="container text-center">
    <h4 class="fs-6 text-dark">@Copyright Dulces Sanrio - 2022</h4>
</div>

<script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>