<footer
  class="container-fluid text-dark p-4"
  style="background-color: #ffb2c0"
  id="contacto"
>
  <div class="row text-sm-center">

    {{! Sección de contactos }}
    <div class="col-12 col-sm-12 col-md-4">
      <h3>Contactanos</h3>
      <a href="#" class="d-inline-block link-light">

        {{! Ícono de telefono }}
        <iconify-icon
          icon="ant-design:phone-twotone"
          style="color: #3e3636"
          width="35"
        ></iconify-icon>
        <p class="d-inline-block text-dark">11 4567-4563</p>
      </a>
      <br />
      <a href="#" class="d-inline-block link-light">

        {{! Ícono de gmail }}
        <iconify-icon
          icon="bxl:gmail"
          style="color: #3e3636"
          width="35"
        ></iconify-icon>
        <p class="d-inline-block text-dark">dulcesanrio@gmail.com</p>
      </a>
    </div>
    {{! Fin de sección de contactos }}

    {{! Sección de redes sociales }}
    <div class="col-12 col-sm-6 col-md-4">
      <h3>Dulces Sanrio</h3>
      <hr />

      {{! Ícono de facebook }}
      <iconify-icon
        icon="akar-icons:facebook-fill"
        style="color: #3e3636"
        width="35"
      ></iconify-icon>

      {{! Ícono de isntragram }}
      <iconify-icon
        icon="akar-icons:instagram-fill"
        style="color: #3e3636"
        width="35"
      ></iconify-icon>

      {{! Ícono de Whatsapp }}
      <iconify-icon
        icon="dashicons:whatsapp"
        style="color: #3e3636"
        width="35"
      ></iconify-icon>

      {{! Ícono de Tiktok }}
      <iconify-icon
        icon="fa6-brands:tiktok"
        style="color: #3e3636"
        width="35"
      ></iconify-icon>
    </div>
    {{! Fin de sección de redes sociales }}

    {{! Sección de métodos de pago }}
    <div class="col-12 col-sm-6 col-md-4">
      <h3>Metodos de pago</h3>

      {{! Ícono de mercado pago }}
      <iconify-icon
        icon="arcticons:mercado-pago"
        style="color: #3e3636"
        width="60"
      ></iconify-icon>

      {{! Ícono de efectivo }}
      <iconify-icon
        icon="bi:cash-coin"
        style="color: #3e3636"
        width="45"
      ></iconify-icon>
      <br />
      <span>Mercado pago o efectivo</span>
    </div>
    {{! Fin de sección de métodos de pago }}
  </div>
</footer>

{{! Linea copyright }}
<div
  class="linea"
  style="height: 60px; border-top: 2px solid white; padding-top: 15px"
>
  <div class="container text-center">
    <h4 class="fs-6 text-dark">@Copyright Dulces Sanrio - 2022</h4>
  </div>
</div>

{{! Scripts }}

{{! Bootstrap }}
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>

{{! Íconos }}
<script
  src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"
></script>