<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="img/assets/logo.png"
      type="image/x-icon"
    />
    <title>Ayuda - Dulces Sanrio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body style="background-color: rgb(255, 227, 232)">
    <!-- 
      Navbar 
    -->
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: #ffa9c8; border-bottom: 2px solid white"
    >
      <div class="container-fluid">
        <a class="navbar text-light" href="/ayuda">
          <img
            src="img/assets/logo.png"
            alt="mymusic"
            class="d-inline-block align-content-top logo"
          />
          <div class="d-inline-block">
            <h1 class="titulo">Dulces</h1>
            <h1 class="titulo">Sanrio</h1>
          </div>
        </a>

        <!-- 
          Barra de busqueda  
        -->
        <form class="mx-auto d-none d-sm-flex" role="search">
          <input
            class="form-control me-2 barra-busqueda"
            type="search"
            placeholder="Buscar producto"
            aria-label="Search"
          />
        </form>

        <!-- 
          Menú hamburguesa responsive 
        -->
        <button
          class="navbar-toggler"
          style="background-color: #ff98a9"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Íconos del nav -->
        <div
          class="collapse navbar-collapse justify-content-lg-end"
          id="navbarSupportedContent"
        >
          <ul class="nav">
            <li class="nav-item">
              <a href="/ayuda">
                <iconify-icon
                  icon="eva:question-mark-circle-outline"
                  style="color: white; margin-left: 20px"
                  width="40"
                ></iconify-icon>
              </a>
              <a class="nav-link link-light" href="/ayuda">Ayuda</a>
            </li>
            <li class="nav-item">
            {{# if loggedin}}
              <a href="/perfil">
                <iconify-icon
                  icon="carbon:user-avatar"
                  style="color: white; margin-left: 30px"
                  width="40"
                ></iconify-icon>
              </a>
              <a class="nav-link link-light" href="/perfil"
                >Mi cuenta</a
              >
            {{else }}
              <a href="/login">
                <iconify-icon
                  icon="carbon:user-avatar"
                  style="color: white; margin-left: 30px"
                  width="40"
                ></iconify-icon>
              </a>
              <a class="nav-link link-light" href="/login"
                >Logeate</a
              >
            {{/if}}
            </li>
            <li class="nav-item">
              <a href="/carrito"
                ><iconify-icon
                  icon="bytesize:cart"
                  style="color: white; margin-left: 17px"
                  width="40"
                ></iconify-icon
              ></a>
              <span class="badge rounded-circle carrito-numero">0</span>
              <a class="nav-link link-light" href="/carrito">Carrito</a>
            </li>
          </ul>
          <div class="container d-md-none pt-4">
            <a class="link-light" href="/">Inicio</a>
            <div class="dropdown my-3">
              <a
                class="nav-link link-light dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                >Productos</a
              >
              <ul class="dropdown-menu">
                {{#each producto}}
                <li>
                  <a class="dropdown-item" href="/productos"
                    >{{nombre}}</a
                  >
                </li>
                {{/each}}
              </ul>
            </div>
            <div class="dropdown my-3">
              <a
                class="nav-link link-light dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                >Combos</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/productos">Rellenar</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/productos">Rellenar</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/productos">Rellenar</a>
                </li>
              </ul>
            </div>
            <a class="link-light" href="#">Contacto</a>
          </div>
        </div>
      </div>
    </nav>

    <!--
      Línea de navegacion
    -->
    <div class="linea">
      <div class="container d-none d-md-flex justify-content-center">
        <a class="link-light" href="/index">Inicio</a>
        <div class="dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
            >Productos</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/productos">Rellenar</a>
            </li>
            <li>
              <a class="dropdown-item" href="/productos">Rellenar</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/productos">Rellenar</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
            >Combos</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/productos">Rellenar</a>
            </li>
            <li>
              <a class="dropdown-item" href="/productos">Rellenar</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/productos">Rellenar</a>
            </li>
          </ul>
        </div>
        <a>Contacto</a>
      </div>
    </div>

    <div class="ayuda">
      <div class="container">
        <div class="text-center mt-5">
          <h1>¿En que podemos ayudarte?</h1>
          <span>
            Le pedimos que nos informe con el máximo detalle <br />
            posible sobre su problema/consulta a continuación.
          </span>
        </div>

        <form class="ayuda-form mx-auto my-5 p-5">
          <div class="mb-5">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" class="form-control" />
          </div>
          <div class="mb-5">
            <label for="email" class="form-label">Email:</label>
            <input type="text" id="email" class="form-control" />
          </div>
          <div>
            <label for="mensaje" class="form-label">Mensaje:</label>
            <textarea
              id="mensaje"
              class="form-control"
              rows="4"
              style="resize: none"
            ></textarea>
          </div>
        </form>

        <div class="como-comprar mx-auto my-5">
          <h2 class="text-center fs-3 py-3 my-3">¿Cómo comprar?</h2>
          <div class="d-flex text-center justify-content-center">
            <div class="opciones">
              <iconify-icon
                icon="flat-color-icons:shop"
                width="60"
              ></iconify-icon>
              <br />
              Elija los productos <br />
              que desea comprar
            </div>
            <div class="opciones">
              <iconify-icon
                icon="wpf:bank-cards"
                style="color: #ce9797"
                width="60"
              ></iconify-icon>
              <br />
              Pague con el método<br />
              que mas le guste
            </div>
            <div class="opciones">
              <iconify-icon
                icon="fluent-emoji-flat:e-mail"
                style="color: #ce9797"
                width="60"
              ></iconify-icon>
              <br />
              Reciba el producto <br />
              que deseaba
            </div>
          </div>
        </div>
        <div class="medios-pago mx-auto my-5">
          <h2 class="text-center fs-3 py-3 my-3">Medios de pago</h2>
          <div class="d-flex fs-3">
            <ul>
              <li class="list-group-item">
                <iconify-icon
                  icon="bi:credit-card"
                  style="color: #504e4e"
                  width="40"
                ></iconify-icon>
                <span>Tarjeta de crédito</span>
              </li>
              <li class="list-group-item">
                <iconify-icon
                  icon="bi:credit-card"
                  style="color: #504e4e"
                  width="40"
                ></iconify-icon>
                <span>Tarjeta de débito</span>
              </li>
              <li class="list-group-item">
                <iconify-icon
                  icon="arcticons:mercado-libre"
                  style="color: #504e4e"
                  width="40"
                ></iconify-icon>
                <span>Mercado pago</span>
              </li>
              <li class="list-group-item">
                <iconify-icon
                  icon="fluent-emoji-high-contrast:bank"
                  style="color: #504e4e"
                  width="40"
                ></iconify-icon>
                <span>Transferencia bancaria</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--
        Footer
    -->
    <footer
      class="container-fluid text-dark p-4"
      style="background-color: #ffb2c0"
    >
      <div class="row text-sm-center">
        <div class="col-12 col-sm-12 col-md-4">
          <h3>Contactanos</h3>
          <a href="#" class="d-inline-block link-light">
            <iconify-icon
              icon="ant-design:phone-twotone"
              style="color: #3e3636"
              width="35"
            ></iconify-icon>
            <p class="d-inline-block text-dark">11 4567-4563</p>
          </a>
          <br />
          <a href="#" class="d-inline-block link-light">
            <iconify-icon
              icon="bxl:gmail"
              style="color: #3e3636"
              width="35"
            ></iconify-icon>
            <p class="d-inline-block text-dark">dulcesanrio@gmail.com</p>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <h3>Dulces Sanrio</h3>
          <hr />
          <iconify-icon
            icon="akar-icons:facebook-fill"
            style="color: #3e3636"
            width="35"
          ></iconify-icon>
          <iconify-icon
            icon="akar-icons:instagram-fill"
            style="color: #3e3636"
            width="35"
          ></iconify-icon>
          <iconify-icon
            icon="dashicons:whatsapp"
            style="color: #3e3636"
            width="35"
          ></iconify-icon>
          <iconify-icon
            icon="fa6-brands:tiktok"
            style="color: #3e3636"
            width="35"
          ></iconify-icon>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <h3>Metodos de pago</h3>
          <iconify-icon
            icon="arcticons:mercado-pago"
            style="color: #3e3636"
            width="60"
          ></iconify-icon>
          <iconify-icon
            icon="bi:cash-coin"
            style="color: #3e3636"
            width="45"
          ></iconify-icon>
          <br />
          <span>Mercado pago o efectivo</span>
        </div>
      </div>
    </footer>
    <div
      class="linea"
      style="height: 60px; border-top: 2px solid white; padding-top: 15px"
    >
      <div class="container text-center">
        <h4 class="fs-6 text-dark">@Copyright Dulces Sanrio - 2022</h4>
      </div>
    </div>

    <!-- Scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

    
    <script src="scripts/productos.js"></script>
  </body>
</html>
