{{> navbar}}

{{!-- Sección principal de ayuda --}}
<div class="ayuda">
  <div class="container">
    {{!-- Título de entrada a ayuda --}}
    <div class="text-center mt-5">
      <h1>¿En que podemos ayudarte?</h1>
      <span>
        Le pedimos que nos informe con el máximo detalle <br />
        posible sobre su problema/consulta a continuación.
      </span>
    </div>
    {{!-- Fin del título de entrada a ayuda --}}

    {{!-- Formulario para enviar datos personales y consulta --}}
    <form class="ayuda-form mx-auto my-5 p-5">
      <div class="mb-5">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" class="form-control" />
      </div>
      <div class="mb-5">
        <label for="email" class="form-label">Email:</label>
        <input type="text" id="email" class="form-control" />
      </div>
      <div>
        <label for="mensaje" class="form-label">Mensaje:</label>
        <textarea
          id="mensaje"
          class="form-control"
          rows="4"
          style="resize: none"
        ></textarea>
      </div>
    </form>
    {{!-- Fin del formulario para enviar datos personales y consulta --}}

    {{!-- Sección explicativa de como comprar --}}
    <div class="como-comprar mx-auto my-5">
      <h2 class="text-center fs-3 py-3 my-3">¿Cómo comprar?</h2>
      <div class="d-flex text-center justify-content-center">
        <div class="opciones">
          {{!-- Ícono --}}
          <iconify-icon
            icon="flat-color-icons:shop"
            width="60"
          ></iconify-icon>
          <br />
          Elija los productos <br />
          que desea comprar
        </div>
        <div class="opciones">
          {{!-- Ícono --}}
          <iconify-icon
            icon="wpf:bank-cards"
            style="color: #ce9797"
            width="60"
          ></iconify-icon>
          <br />
          Pague con el método<br />
          que mas le guste
        </div>
        <div class="opciones">
          {{!-- Ícono --}}
          <iconify-icon
            icon="fluent-emoji-flat:e-mail"
            style="color: #ce9797"
            width="60"
          ></iconify-icon>
          <br />
          Reciba el producto <br />
          que deseaba
        </div>
      </div>
    </div>
    {{!-- Fin de sección explicativa de como comprar --}}

    {{!-- Sección explicativa de los métodos de pago --}}
    <div class="medios-pago mx-auto my-5">
      <h2 class="text-center fs-3 py-3 my-3">Medios de pago</h2>
      <div class="d-flex fs-3">
        <ul>
          <li class="list-group-item">
            {{!-- Ícono --}}
            <iconify-icon
              icon="bi:credit-card"
              style="color: #504e4e"
              width="40"
            ></iconify-icon>
            <span>Tarjeta de crédito</span>
          </li>
          <li class="list-group-item">
            {{!-- Ícono --}}
            <iconify-icon
              icon="bi:credit-card"
              style="color: #504e4e"
              width="40"
            ></iconify-icon>
            <span>Tarjeta de débito</span>
          </li>
          <li class="list-group-item">
            {{!-- Ícono --}}
            <iconify-icon
              icon="arcticons:mercado-libre"
              style="color: #504e4e"
              width="40"
            ></iconify-icon>
            <span>Mercado pago</span>
          </li>
          <li class="list-group-item">
            {{!-- Ícono --}}
            <iconify-icon
              icon="fluent-emoji-high-contrast:bank"
              style="color: #504e4e"
              width="40"
            ></iconify-icon>
            <span>Transferencia bancaria</span>
          </li>
        </ul>
      </div>
    </div>
    {{!-- Fin de sección explicativa de los métodos de pago --}}

  </div>
</div>
{{!-- Fin de sección principal de ayuda --}}

{{> footer}}

{{!-- Scripts --}}

<script src="scripts/productos.js"></script>