{{> navbar}}

    <div class="ayuda">
      <div class="container">
        <div class="text-center mt-5">
          <h1>¿En que podemos ayudarte?</h1>
          <span>
            Le pedimos que nos informe con el máximo detalle <br />
            posible sobre su problema/consulta a continuación.
          </span>
        </div>

        <form class="ayuda-form mx-auto my-5 p-5">
          <div class="mb-5">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" class="form-control" />
          </div>
          <div class="mb-5">
            <label for="email" class="form-label">Email:</label>
            <input type="text" id="email" class="form-control" />
          </div>
          <div>
            <label for="mensaje" class="form-label">Mensaje:</label>
            <textarea
              id="mensaje"
              class="form-control"
              rows="4"
              style="resize: none"
            ></textarea>
          </div>
        </form>

        <div class="como-comprar mx-auto my-5">
          <h2 class="text-center fs-3 py-3 my-3">¿Cómo comprar?</h2>
          <div class="d-flex text-center justify-content-center">
            <div class="opciones">
              <iconify-icon
                icon="flat-color-icons:shop"
                width="60"
              ></iconify-icon>
              <br />
              Elija los productos <br />
              que desea comprar
            </div>
            <div class="opciones">
              <iconify-icon
                icon="wpf:bank-cards"
                style="color: #ce9797"
                width="60"
              ></iconify-icon>
              <br />
              Pague con el método<br />
              que mas le guste
            </div>
            <div class="opciones">
              <iconify-icon
                icon="fluent-emoji-flat:e-mail"
                style="color: #ce9797"
                width="60"
              ></iconify-icon>
              <br />
              Reciba el producto <br />
              que deseaba
            </div>
          </div>
        </div>
        <div class="medios-pago mx-auto my-5">
          <h2 class="text-center fs-3 py-3 my-3">Medios de pago</h2>
          <div class="d-flex fs-3">
            <ul>
              <li class="list-group-item">
                <iconify-icon
                  icon="bi:credit-card"
                  style="color: #504e4e"
                  width="40"
                ></iconify-icon>
                <span>Tarjeta de crédito</span>
              </li>
              <li class="list-group-item">
                <iconify-icon
                  icon="bi:credit-card"
                  style="color: #504e4e"
                  width="40"
                ></iconify-icon>
                <span>Tarjeta de débito</span>
              </li>
              <li class="list-group-item">
                <iconify-icon
                  icon="arcticons:mercado-libre"
                  style="color: #504e4e"
                  width="40"
                ></iconify-icon>
                <span>Mercado pago</span>
              </li>
              <li class="list-group-item">
                <iconify-icon
                  icon="fluent-emoji-high-contrast:bank"
                  style="color: #504e4e"
                  width="40"
                ></iconify-icon>
                <span>Transferencia bancaria</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{{> footer}}

<!-- Scripts -->

<script

  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"

  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"

  crossorigin="anonymous"

></script>

<script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

<script src="scripts/productos.js"></script>