<head>
  {{!-- toastr --}}
  <link 
    rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
    crossorigin="anonymous" 
  />
</head>

{{> navbar}}

{{!-- Sección principal del carrito --}}
<div class="container">
  <div class="carrito mt-5 ms-3">
    <div class="cart">
        <h1>Mi Carrito</h1>
    </div>
    {{!-- Sección donde se ubican los productos elegidos para la compra --}}
    <div class="tbody"></div>
    {{!-- Final de sección donde se ubican los productos elegidos para la compra --}}
    
    {{!-- Sección para configurar las opciones del carrito --}}
    <div class="pedido">
      <div class="row">

        {{!-- Mostrando el subtotal de la compra --}}
        <div class="col-12 d-inline">
          <h4 class="fs-3 fw-bold">SubTotal:</h4>
          <p class="fs-3 total"></p>
        </div>

        {{!-- Realizar una compra --}}
        <div class="col-lg-4 col-12">
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary fs-5 p-2 my-lg-5 my-3 mx-2">
            Realizar compra
          </button>
        </div>

        {{!-- Vaciar el carrito --}}
        <div class="col-lg-4 col-12">
          <button type="button" class="btn btn-primary fs-5 p-2 my-lg-5 my-3 mx-2 vaciar">
            Vaciar carrito
          </button>
        </div>

        {{!-- Ir a ver más productos --}}
        <div class="col-lg-4 col-12">
          <a href="productos">
            <button type="button" class="btn btn-primary fs-5 p-2 my-lg-5 my-3 mx-2">
              Ver mas Productos
            </button>
          </a>
        </div>
      </div>
    </div>
    {{!-- Fin de sección para configurar las opciones del carrito --}}

    {{!-- Imagen decorativa del carrito --}}
    <div class="text-end mb-5">
      <img class="img-fluid" width="220" src="img/assets/carrito.png" alt="" />
    </div>
  </div>
</div>
{{!-- Fin de la sección principal del carrito --}}

{{!-- modal para realizar la compra --}}

<div class="modal fade" id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div style="background-color: #d86578; color: white;" class="modal-content p-3 mt-2  card-login card-color">
      <form method="POST" id="cheackoutCart">
        <div class="row g-3 mb-3">

          {{!-- Elección de punto de encuetro --}}
          <div class="col-md-6">
            <label for="validationDefault01" class="form-label"> <em>Puntos de encuentro</em> </label>
              <select class="form-select d-block w-100" id="punto" name=" punto"
                  required="">
                  <option value="">Elegir...</option>
                  <option value="Cadete">Cadete</option>
                  <option value="Correo">Correo Argentino</option>
                  <option value="Andreani">Andreani</option>
                  <option value="DHL">DHL</option>
              </select>
          </div>
          {{!-- Fin de elección de punto de encuentro --}}

          {{!-- Elección de método de pago --}}
          <div class="col-md-6">
            <label for="validationDefault02" class="form-label"> <em>Metodo de pago</em> </label>
            <select class="form-select d-block w-100" id="paymentMethod" name="paymentMethod"
                required="">
                <option value="">Elegir...</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Débito">Tarjeta Débito</option>
                <option value="Crédito">Tarjeta Crédito</option>
            </select>
          </div>
          {{!-- Fin de elección de método de pago --}}

          {{!-- Botón para enviar los datos --}}
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-primary fs-5 p-2 my-lg-5 my-3 mx-2">
              Realizar compra
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- Fin del modal para realizar la compra --}}

{{> footer}}

{{!-- Scripts --}}

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- Toast js Library -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
  integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
  crossorigin="anonymous"
></script>

<script src="scripts/carrito.js"></script>

<script src="scripts/productos.js"></script>
