<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        rel="shortcut icon"
        href="img/assets/logo.png"
        type="image/x-icon"
        />
        <title>Creador - Dulces Sanrio</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h1>Subida de productos</h1>
        <div class="container">
            <form  action="/files" method="post" enctype="multipart/form-data">
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Nombre de producto"
                    aria-label="Dollar amount (with dot and two decimal places)"
                    aria-describedby="basic-addon1"
                    name="producto"
                />
                <input
                    type="file"
                    class="form-control"
                    placeholder="Nombre de producto"
                    aria-label="Dollar amount (with dot and two decimal places)"
                    aria-describedby="basic-addon1"
                    name="avatar"
                />
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <span class="input-group-text">0.00</span>
                    <input 
                        type="number" 
                        class="form-control" 
                        name="precio" 
                        aria-label="Dollar amount (with dot and two decimal places)"
                    >
                </div>
                <input 
                    type="submit" 
                    value="subir" 
                    class="form-control"    
                />
            </form>
        </div>
    </body>
</html>