
  <style>
    body{
      background-color:#f5dce3; font-family: 'Hind Siliguri', sans-serif;;
    }
    .tam-image{
    width: 25%;
    height: 25%;
    }
  </style>
  
  <div class="container mb-5 ">
    <div class="row text-center mt-5 mb-5">
        <h1>Error: No se encontro la pagina :(</h1>
        <h2>Direccion URL incorrecta</h2>
        <a href="/" class="link-dark fw-bolder">Volver al Inicio</a>
    </div>
    <div class="row">
      <img src="img/assets/not-found.gif" width="50%"  height="auto"class="img-fluid mx-auto d-block tam-image">
    </div>
  </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
